---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&exclude=minutely&lat=39.7392358&lon=-104.990251&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.99,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1591573627,"sunrise":1591529528,"sunset":1591583161,"temp":87.91,"feels_like":79.16,"pressure":997,"humidity":9,"dew_point":23.23,"uvi":10.74,"clouds":0,"wind_speed":7,"wind_deg":173,"wind_gust":15.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1591570800,"temp":87.91,"feels_like":69.31,"pressure":997,"humidity":9,"dew_point":23.23,"clouds":0,"wind_speed":24.49,"wind_deg":208,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"dt":1591574400,"temp":87.33,"feels_like":69.6,"pressure":997,"humidity":11,"dew_point":27.1,"clouds":0,"wind_speed":23.8,"wind_deg":207,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"dt":1591578000,"temp":85.51,"feels_like":70.86,[...]
