---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Pueblo,CO&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Pueblo",
                       "short_name" : "Pueblo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Pueblo County",
                       "short_name" : "Pueblo County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Pueblo, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 38.345385,
                          "lng" : -104.460868
                       },
                       "southwest" : {
                          "lat" : 38.1891058,
                          "lng" : -104.7208689
                       }
                    },
                    "location" : {
                       "lat" : 38.2544472,
                       "lng" : -104.6091409
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.345385,
                          "lng" : -104.460868
                       },
                       "southwest" : {
                          "lat" : 38.1891058,
                          "lng" : -104.7208689
                       }
                    }
                 },
                 "place_id" : "ChIJZbEbB_OiE4cRLrjHaKNrLag",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 09 Jun 2020 03:11:59 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&exclude=minutely&lat=38.2544472&lon=-104.6091409&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.25,"lon":-104.61,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1591672319,"sunrise":1591616100,"sunset":1591669229,"temp":76.57,"feels_like":68.13,"pressure":1001,"humidity":11,"dew_point":19.74,"uvi":9.52,"clouds":1,"visibility":16093,"wind_speed":5.82,"wind_deg":350,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1591671600,"temp":76.57,"feels_like":61.7,"pressure":1001,"humidity":11,"dew_point":19.74,"clouds":1,"wind_speed":17.22,"wind_deg":246,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},{"dt":1591675200,"temp":73.24,"feels_like":57.02,"pressure":1002,"humidity":16,"dew_point":25.27,"clouds":1,"wind_speed":20.71,"wind_deg":261,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},{"dt":1591678800,"temp":69.35,"feels_like":55.74,"pressure":1004,"humidity":21,"dew_point":28.27,"clouds":0,"wind_speed":16.78,"wind_deg":258,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},{"dt":1591682400,"temp":63.36,"feels_like":53.44,"pressure":1007,"humidity":29,"dew_point":30.76,"clouds":0,"wind_speed":10.89,"wind_deg":316,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},{"dt":1591686000,"temp":55.22,"feels_like":39.81,"pressure":1008,"humidity":49,"dew_point":36.41,"clouds":0,"wind_speed":22.24,"wind_deg":16,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},{"dt":1591689600,"temp":53.6,"feels_like":33.42,"pressure":1009,"humidity":49,"dew_point":35.01,"clouds":50,"wind_speed":30.29,"wind_deg":10,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.29}},{"dt":1591693200,"temp":50.05,"feels_like":33.03,"pressure":1010,"humidity":60,"dew_point":37.13,"clouds":67,"wind_speed":25.21,"wind_deg":359,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":1}},{"dt":1591696800,"temp":47.17,"feels_like":32.95,"pressure":1011,"humidity":68,"dew_point":37.51,"clouds":75,"wind_speed":20.38,"wind_deg":341,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"rain":{"1h[...]
